.mymain
{
    background: url("https://images.pexels.com/photos/2923034/pexels-photo-2923034.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center ;
    height: 700px;
    background-attachment: fixed;
    color: rgb(148, 48, 48);
        
    background-size: cover;
    width: auto;
    font-size: large;
    margin-top: auto;
}
.navbar-height-nav
{
    height: 50px;
}
    
.footer-height
{
    height: 80px;
}
ul li a:hover
{
    border-bottom: 5px solid rgb(100, 100, 228);
}


.bg-image
{
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm21-wood-tang-79.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=7622b377ad36ce0c9303e062c8ce91dc");
    max-width: 100%;
    height: auto;
    background-size: cover;
}

.onhover
{
    cursor: pointer;    
}

@media only screen and (min-width: 300px) and (max-width: 991px)
{
    .navbar-height-nav
    {
        height: 260px;
    }
    .mymain
    {
        height: auto;
    }
}

  
        @import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');